template(name='index')
  .jumbotron
    h1 Digital Ocean Monitor
    p
      | This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.
    p
      +loginButtons
  a.btn.btn-primary.btn-lg#createVM Create_Machine
  &nbsp;
  a.btn.btn-danger.btn-lg#removeVM Remove_Machine
  &nbsp;
  a.btn.btn-info.btn-lg#powerOnVM PowerOn_Machine
  br
  br
  a.btn.btn-info.btn-lg#userInfo User_Information
  &nbsp;
  a.btn.btn-danger.btn-lg#userVMInfo UserVM_Information
  br
  br
  a.btn.btn-info.btn-lg#distributionInfo Distribution_Information
  &nbsp;
  a.btn.btn-info.btn-lg#applicationInfo Application_Information
  br
  br
  a.btn.btn-info.btn-lg#showSSHKey Show_SSHKey
  &nbsp;
  a.btn.btn-info.btn-lg#addSSHKey Add_SSHKey
  br
  br
  a.btn.btn-info.btn-lg#execSSH Exec_SSH
  #chart
