template(name='index')
  .jumbotron
    h1 Digital Ocean Monitor
    p
      | This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.
    p
      a.btn.btn-primary.btn-lg(href='https://cloud.digitalocean.com/v1/oauth/authorize?client_id=ba7690c54b256ff7482d2de387f7737d02a3e59f8516f1c2faf228b7269339a2&redirect_uri=http%3A%2F%2F127.0.0.1%3A3000%2Fdigitalocean%2Foauthcallback&response_type=code&scope=read write', role='button') Try it now! &raquo;
      +loginButtons
