template(name = 'manageBackUp')
  .container
    .section
      .row
        .col.l6.s12
          .card-panel
            span.card-title.grey-text
              h5 Backup List
            p
            table.bordered
              thead
                tr
                  th
                    span.text-primarycolor.left Image
                  th
                    span.text-primarycolor.left Size
                  th
                    span.text-primarycolor.left Created
                  th
                    span.text-primarycolor.left Select
              tbody
                each imageList
                  tr
                    td {{name}}
                    td {{size}} MB
                    td {{ago}}
                    td
                      input(id='{{id}}', type='checkbox')
                      label(for='{{id}}')
            br
            .right
              a.waves-effect.btn-flat Select All
              a.waves-effect.waves-light.btn.red Delete
            br
            br

        .col.l6.s12.padding-top3
          .card-panel
            span.card-title.grey-text
              h5 Registry Condition
            .row
              .col.s12
                p Host: {{host}}
                p Disk: {{usage}} / {{capacity}} GB
                .progress
                  .indeterminate
        .col.l6.s12.padding-top3
          .card-panel
            span.card-title.grey-text
              h5 Create New Images
            .row
              .col.s12
                p Upload... 70%
                .progress
                  .determinate(style='width: 70%')
              p
                a#popDockerfile.waves-effect.waves-light.btn.light-green.darken-1(href='#')
                  i.mdi-file-attachment.left
                  | Custom Your Dockerfile
              p
                a#popRunShell.waves-effect.waves-light.btn.teal(href='#')
                  i.mdi-file-folder-open.left
                  | Insert shell
