template(name = 'manageService')
  #modal1.modal.bottom-sheet
    .modal-content
      h4 Docker Service
      ul.collection
        each userVMServiceInfo
          li(class='{{statusColor}}').collection-item.avatar
            i.mdi-action-assessment.circle.green
            span.title {{name}}
            p cpuUsage: {{cpuUsage}}% memoryUsage:{{memoryUsage}}% networkReceive: {{networkReceive}}Bytes newworkTransfer: {{networkTransfer}}Bytes
            a(href='http://{{host}}:{{port}}',target='_blank') Site Link
            a#service.secondary-content(href='#',serviceId='{{id}}')
              i.mdi-navigation-close.grey-text
        li.collection-item.avatar
          i.mdi-action-assessment.circle.red
          a#demo.waves-effect.waves-light.btn.red DEMO Active
  if openModal2
    #modal2.modal
      .modal-content
        h4 Set Service Limit to Restart
        .row
          .input-field.col.s4
            input#cpuLimit(type='text',value='100').validate
            label.active(for='cpuLimit') Set CPU(%)
          .input-field.col.s4
            input#memLimit(type='text',value='100').validate
            label.active(for='memLimit') Set Memory(%)
        .row
          .input-field.col.s4
            input#txLimit(type='text').validate
            label(for='txLimit') Set Tx(bytes)
          .input-field.col.s4
            input#rxLimit(type='text').validate
            label(for='rxLimit') Set Rx(bytes)
      .modal-footer
        a#setServiceBtn.modal-action.modal-close.waves-effect.waves-green.btn-flat Set
  .container
    .section
      a.title(href='') My Virtual Machine
      .row
        each userVMInfo
          .col.s12.m4
            .card
              .card-image.waves-effect.waves-block.waves-light
                a#status(href='#')
                  img.modal-trigger.responsive-img.wp-post-image(src='/ubuntu.png', alt='ubuntu', title='{{id}}')
              .card-content
                p.area
                  span.card-title.activator.brown-text.text-darken-4 {{name}}
                    i.mdi-navigation-more-vert.right
                a(href='http://www.ubuntu.com/') {{image.slug}}
              .card-reveal
                span.card-title.brown-text.text-darken-4
                  i.mdi-navigation-more-vert.right
                p.area
                  a.waves-effect.waves-orange.btn-flat
                    | CPU: {{vcpus}}core
                  a.waves-effect.waves-orange.btn-flat
                    | Memory: {{memory}}MB
                  a.waves-effect.waves-orange.btn-flat
                    | Disk: {{disk}}GB
                  a.waves-effect.waves-orange.btn-flat
                    | Region: {{region.name}}
                  a.waves-effect.waves-orange.btn-flat
                    each networks.v4
                      | IP: {{ip_address}}
                  a.waves-effect.waves-orange.btn-flat
                    | Status: {{status}}
                .card-action
                  a#deleteVM.waves-effect.waves-light.btn.red(style='color:white',vmId='{{id}}') Delete This Machine
                  br
                  a#setService.waves-effect.waves-light.btn(href='#modal2' style='color:white',vmId='{{id}}') Set Service Status
