template(name='layout')
  #chat.modal.modal-fixed-footer
    .modal-content
      h4 Chat Room
      ul.collection
        each chatMessages
          li.collection-item.avatar
            i.mdi-social-person.circle.grey
            span.title {{user.profile.name}}
            p {{message}}
    .modal-footer
      a#msgSend.waves-effect.waves-teal.btn-flat(style='float: right') Send
      div(style='overflow: hidden; padding-right: .5em;')
        input#msg(type='text',style='width: 100%;')
  ul#dropdown1.dropdown-content
    li
      a(href='/deploy/service',style='color:#444') Cloud Service
    li
      a(href='/deploy/vm',style='color:#444') Cloud VM
    li
      a(href='/manage/backup',style='color:#444') Cloud Backup
    li
      a(href='/manage/service',style='color:#444') Manage Service
  nav.white(role='navigation')
    .nav-wrapper.container
      a#logo-container.brand-logo(href='/')
        i.mdi-file-cloud-queue
          | AutoDeploy
      ul.right.hide-on-med-and-down
        li
          a.waves-effect(href='#')
            | About
        li
          a.waves-effect.dropdown-button(href='#',data-activates='dropdown1')
            | Virtual Machine
            i.mdi-navigation-arrow-drop-down.right
        li
          a.waves-effect(href='/account')
            | Account
        li
          +loginButtons
      ul#nav-mobile.side-nav
        li
          +loginButtons
        li
          a.collapsible-header.waves-effect(href='#')
            | About
        li
          a.collapsible-header.waves-effect(href='/deploy')
            | Deploy
        li
          a.collapsible-header.waves-effect(href='#')
            | Account



      a.button-collapse(href='#', data-activates='nav-mobile')
        i.mdi-navigation-menu
  .fixed-action-btn(style='bottom: 24px; right: 24px;')
    a.btn-floating.btn-large.red.waves-effect.waves-light
      i.large.mdi-content-add
    ul
      //li
      //  a.btn-floating.red
      //    i.large.mdi-editor-insert-chart
      li
        a.btn-floating.yellow.darken-1(href='mailto:yunchen@nisra.net')
          i.large.mdi-communication-email
      li
        a.btn-floating.green.modal-trigger(href='#chat')
          i.large.mdi-communication-forum
      //li
      //  a.btn-floating.blue
      //    i.large.mdi-action-help
  +yield
